.appWrapper {
    width: 100%;
    background: url(https://masterplus.top/rostov-na-donu/img/background/wall.png.pagespeed.ce.8lUE5I_K28.png) no-repeat;
}

.appBody {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
}