.content {
  padding: 60px 0;
}

h1 {
  font-size: 50px;
  margin-bottom: unset;
}

.content img {
  width: 100%;
}

.item {
  color: greenyellow;
}

.block {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.block:nth-child(1) {
  width: 100%;
  margin-right: 10px;
  vertical-align: top;
}

input {
  display: inline-block;
  font-size: 15px;
  padding: 14px 20px;
  margin: 10px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 2px solid rgba(217,217,217,1);
}

input[type=submit] {
  border: none;
  background-color: #0095ff;
  color: #ffffff;
}

.blockHowWeWork {
  margin-top: 130px;
}

.blockWeWorkName {
  width: 100%;
  font-size: 55px;
  text-align: center;
  margin-bottom: 30px;
}

.itemsWeWork {

}

.itemWeWork {
  width: 20%;
  text-align: left;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.itemImage {
  width: 100%;
  text-align: center;
  line-height: 100px;
}

.itemImage img {
  max-width: 70px;
  max-height: 70px;
}

.itemTitle {
  font-weight: 600;
}

.itemText {
  font-size: 14px;
  text-align: justify;
}